$base_size: 14;
@function getEm($size_in_px, $base: 14) {
    @return $size_in_px/14+0em;
}

a {
    text-decoration: none;
}

svg {
    fill: #606060;
}

.side-menu {
    font-size: $base_size + 0px;
    width: getEm(240);
    display: flex;
    flex-direction: column;
    background: #fff;
    hr {
        width: 100%;
        height: 1px;
        background: #e5e5e5;
        border: none;
    }
    a {
        display: flex;
        align-items: center;
        height: getEm(40);
        width: 100%;
        text-decoration: none;
        line-height: getEm(16);
        color: #000000;
        padding-left: getEm(26);
        box-sizing: border-box;
        transition: background 0.5s;
        &:hover {
            background: rgba(0, 0, 0, 0.05);
            transition: background 0.5s;
        }
    }
    .icon {
        display: flex;
        justify-content: center;
        width: 1.79em;
        margin-right: 1em;
    }
    @mixin fill($deg: -5deg) {
        fill: red;
        transition: fill 0.5s;
        color: red;
        transform: rotate($deg);
    }
    a:active svg {
        @include fill(-15deg);
    }
    a:hover svg {
        transition: transform 2s;
    }
    .current svg {
        @include fill;
    }
    a:active span.text {
        @include fill;
    }
    a.current span.text {
        @include fill;
    }
    a.current {
        background: rgba(0, 0, 0, 0.1);
    }
    &--closed {
        width: 72px;
        a {
            flex-direction: column;
            padding: 0;
            height: 72px;
            justify-content: center;
            align-items: center;
        }
        .text {
            font-size: 9px;
            line-height: getEm(10, 9);
        }
        .icon {
            margin-right: 0;
            width: initial;
        }
    }
}

@media only screen and (max-width: 720px) {
    .side-menu {
        font-size: 12px;
    }
}

@media only screen and (max-width: 450px) {
    .side-menu--closed {
        width: 55px;
        a {
            height: 55px;
        }
        .text {
            display: none;
        }
    }
}